@page
@model EnergyMonitorWeb.Pages.EnergyUsageDayWiseGraphModel
@{
}

<!DOCTYPE html>

<html>
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/angular.js"></script>
    <script src="~/js/angular-filter.js"></script>
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.js"></script>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/FusionCharts/angular.min.js"></script>
    <script src="~/FusionCharts/angular-filter.js"></script>
    <script src="~/FusionCharts/fusioncharts.js"></script>
    <script src="~/FusionCharts/angularjs/js/angular-fusioncharts.js"></script>
    <script src="~/FusionCharts/fusionchartsthemefusion.js"></script>
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.js"></script>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body ng-app="EnergyUsageDayWiseGraphModule" ng-controller="EnergyUsageDayWiseGraphController">
    <div id="main">


        <div class="col-lg-12 col-xl-6">
           
            <div class="row">
                <div class="form-group row col-lg-4">
                    <label for="MeasurentHour" class="col-md-4">Store</label>
                    <div class="form-label-group col-md-8">
                        <select placeholder="Select" class="activeslct1" id="ddlstorecode" @*ng-change="finalvalidation()"*@ ng-model="EnergyConsumption.stores">
                            <option value="00">MMR-0004</option>
                            <option value="01">SOU-0282</option>
                            <option value="02">SOU-0138</option>
                            <option value="03">MMR-0007</option>
                            <option value="04">MMR-0275</option>
                            <option value="05">MMR-0252</option>
                            <option value="06">WR2-0288</option>
                            <option value="07">ROW-0288</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-lg-4">
                    <label for="Device" class="col-md-4">Device</label>
                    <div class="form-label-group col-md-8">
                        @*<input type="text" id="continent" class="form-control isval idate inutht" value="" ng-model="Parameters.ParameterName" name="Country" ng-change="finalvalidation()" maxlength="20" />*@
                        <input placeholder="Select Device" id="Device_Id" class="custom-select form-control dropdo wngraph ddlse achsite" ng-click="devicediv()" ng-model="srchDevice" ng-change="getfilterdevices()" />
                        <span id="meteridnospcl" class="row hide formspan">Error : No Special Characters</span>
                    </div>
                    <div id="devicediv" class="srchdropdown2 hide " ng-class="{'hide':filterdevice=='0'}" ng-if="filterdevice='1'&& device_id=='0'">
                        <ul class="srchdro pdown no-bullets">
                            <li class="srchdro pdown" ng-repeat="device in allDevicesdropdownData|filter:{device_name:srchDevice}" ng-click="getselecteddevice(device.device_id,device.device_name)">{{device.device_name}}</li>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="row">

                    <div class="form-group row col-lg-4 ">
                        <label for="MeasurentTime" class="col-md-4">From Date</label>
                        <div class="form-label-group col-md-8">
                            <input placeholder="Select Date" type="text" id="fromdate" class="form-control isval idate inutht" value="" ng-model="EnergyConsumption.From_Date" name="devicetype" @*ng-change="finalvalidation()"*@ maxlength="50" />
                            @*<i class="fas fa-calendar-alt"></i>*@
                            <i class="date-icon fa fa-calendar" aria-hidden="true"></i>
                            <span id="fromdatenospcl" class="row hide formspan">Error : No Special Characters</span>

                        </div>
                    </div>

                    <div class="form-group row col-lg-4 ">
                        <label for="MeasurentTime" class="col-md-4">To Date</label>
                        <div class="form-label-group col-md-8">
                            <input placeholder="Select Date" type="text" id="todate" class="form-control isval idate inutht" value="" ng-model="EnergyConsumption.To_Date" name="devicetype" @*ng-change="finalvalidation()"*@ maxlength="50" />
                            @*<i class="fas fa-calendar-alt"></i>*@
                            <i class="date-icon fa fa-calendar" aria-hidden="true"></i>
                            <span id="todatenospcl" class="row hide formspan">Error : No Special Characters</span>

                        </div>
                    </div>


                    <div class="form-group row col-lg-4">
                        <div class="form-label-group col-md-12">
                            <input type="button" value="Show Graph" ng-click="GetEnergyUsage()" class="btnsbmt" id="savebtn" @*ng-disabled="savebtndis"*@ />
                        </div>
                    </div>
                </div>

                <div id="panel-7" class="panel">
                    <div class="card-header" style="background-color: #4679cc; color:#fff">
                        <i class="fal fa-th-list"></i>
                        Hourly Graph
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">

                            <div id="dategraph" class="col-md-12 p-2 pb-4">
                                <div class="graph-bg" style="height:390px;">
                                    <h6 class="px-2 pt-2 text-white font-14">Daily</h6>
                                    <div>
                                        <fusioncharts id="dategraphdata" height="350" width="100%" type="column2d" dataSource="{{ dategraphDataSource }}">
                                        </fusioncharts>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


    </div>
    <script src="~/js/Angular/EnergyusageDayWiseGraph.js"></script>
    <script src="~/js/dirPagination.js"></script>
</body>

</html>
<script>
    $('#fromdate').datepicker({
        autoclose: true,
        format: "yyyy-mm-dd"

    });
    $('#todate').datepicker({
        autoclose: true,
        format: "yyyy-mm-dd"
    });
</script>